
#texto{
  color:red;
/* background-color:#696969; */
       text-shadow:#ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
       font-family: "Times New Roman",Times,Serif;
    font-style: italic;
}

#nav{
    top: 31%;
     font-family: "Times New Roman",Times,Serif;
    font-style: italic;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* flex: 1 0 auto; */
}
main {
    flex: 1 0 auto;
}
footer{
     font-family: "Times New Roman",Times,Serif;
    font-style: italic;
}
.slides{
  position: relative;
  left: 20%;
  top: 8%;
  }
div.slides{
 border: 5% solid #ccc;
}
div.slides:hover{
  border: 5% solid #777;

}
.logo{
  position: absolute;
  left: 49%;
top: 8%;
 }
h4{
  position: absolute;
  top: 105%;
  left: 20%;
  font-family: "Times New Roman",Times,Serif;
    font-style: italic;

}
.slides{
  border-radius: 3%; /* Imagens arredondados

  */
}






